<% @page_title = "Section Edit" %>

<div class="container">

	<h1>Edit your Section</h1>

	<!-- Creating the form -->
	<div class="span5 well">
		<%= form_for(:section, :url => {:action => 'update', :id => @section.id}) do |f| %>
			<%= f.label :name, "Section Name" %>

			<%= render(:partial => 'section_form', :locals => {:f => f}) %>


			<%= submit_tag("Edit your Section") %>
		<% end %>

	<%= link_to("<< Back to list", {:action => 'list'}, :class => "back_link") %>
	</div>	
</div>