<div class="container">
	<h1>Welcome to the Section list page</h1>

	<!-- flash message goes here -->
	<!-- end of flash message goes here -->

	<div class="well">
		<div class="row">
			<% @section.each do |section| %>
			<div class="row">
				<div class = "span4">
					<%= section.name %>
					<%= section.position %>
					<%= section.content_type %>
					<%= section.visible %>
				</div>
				<div class="span4">
					<%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'link_class') %>
					<%= link_to("Edit", {:action => 'edit', :id => section.id}, :class => 'link_class') %>
					<%= link_to("Delete", {:action => 'delete', :id => section.id}, :class => 'link_class') %>

				</div>
			</div>
			<% end %>
		</div>

	</div>
	
	<%= link_to("Create a new Section", {:action => 'new'}, :class => 'create_link') %>

</div>