<div class= "container">

	<h1>Your Pages</h1>

	<% @page.each do |page| %>

		<%= page.name %>
		<%= page.position %>
		<%= page.visible %>
		<%= page.permalink %>

		<%= link_to("Show", {:action => 'show', :id => page.id}, :class => 'link')	%>	
		<%= link_to("Edit", {:action => 'edit', :id => page.id}, :class => 'link')	%>	
		<%= link_to("Delete", {:action => 'destroy', :id => page.id}, :class => 'link', confirm: "Are you sure you want to delete?")	%>	

	<% end %>


</div>