<div class="container">

	<h1>Your Page Details</h1>

		<%= @page.name %>
		<%= @page.position %>
		<%= @page.visible %>
		<%= @page.permalink %>
		<%= @page.updated_at %>
		<%= @page.created_at %>

</div>