<div class = "container">
	<div class="span5 well">
		<!-- Creating the form -->

		<%= form_for(@subject, :url => {:action => 'create'}) do |f| %>

			<%= f.text_field(:name) %>
			<%= f.text_field(:position) %>
			<%= f.text_field(:visible) %>

			<%= submit_tag("Create Subject") %>


		<% end %>
		<%= link_to("<< Back to List", {:action => 'list'}, :class => "link_class") %>
	</div>

</div>